.item {
	white-space: nowrap;
}

.btn {
	border: none;
	background-color: rgb(157, 60, 30);
	padding: 5px 10px;
	color: white;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgb(57, 15, 2);
	transition: all ease-in-out 300ms;
	cursor: pointer;
	text-transform: capitalize;
	margin-left: 10px;
}

.btn:hover {
	scale: 1.05;
}